.icon-alarm-clock {
  width: 3.635em;
  height: 3.635em;
}
.icon-buildings {
  width: 18.164em;
  height: 18.164em;
}
.icon-chat {
  width: 32em;
  height: 32em;
}
.icon-cross {
  width: 5.933em;
  height: 5.933em;
}
.icon-house-plans {
  width: 10.875em;
  height: 10.875em;
}
.icon-left-arrow {
  width: 24.141em;
  height: 24.141em;
}
.icon-placeholder {
  width: 32em;
  height: 32em;
}
.icon-right-arrow {
  width: 24.141em;
  height: 24.141em;
}
.icon-ski {
  width: 32em;
  height: 32em;
}
.icon-smartphone {
  width: 32em;
  height: 32em;
}
.icon-store {
  width: 3.75em;
  height: 3.75em;
}
.icon-tag {
  width: 32em;
  height: 32em;
}
.icon-user {
  width: 32em;
  height: 32em;
}