html
    box-sizing border-box
    font-size: 13px
    +above($screen-sm)
        font-size: 14px
*, *:before, *:after
    box-sizing inherit


//generateClasses($spritesheet_sprites)

body
    color black
    font-size 1rem
    font-family 'Museo Sans', sans-serif
    font-weight 300

a
    text-decoration underline
    color inherit
    transition all 0.3s
    &:hover
        text-decoration none


.page-wrapper
    overflow: hidden
    position: relative

address
    font-style: normal

.icon
    display inline-block
    vertical-align middle
    position relative
    background-color: transparent
    padding: 0
    border none
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display block
        opacity: 0
        transition all 0.3s
    &:after
        content ''
        top 0
        left 0
        position: absolute
        opacity: 1
        transition all 0.3s
    + span
        display inline-block
        vertical-align middle

img
    max-width 100%

.nav-trigger-wrap
    width: 30px
    height: 30px
    background-color: #f6f6f6
    border-radius 50%
    text-align: center
    float: left
    margin-right: -30px
    margin-top: 3px

.nav-trigger
    margin: 0 auto
    hamburger-generator(18px, 1px, 5px)
    text-align center
    margin-top 15px
    position relative
    z-index 10
    &.active
        hamburger-animation()
    +above(880px)
        display none

.page-wrapper
    transition all 0.3s
    &.active
        transform translateX(200px)

.container
    padding 0 10px
    +above($screen-sm)
        padding: 0 15px

//.custom-select
//    position relative
//    height 34px
//    margin-bottom 6px
//    padding 0
//    &:after
//        content ''
//        position absolute
//        sprite($arrow_down)
//        right 1px
//        top 0
//        pointer-events none
//    select
//        display: inline-block;
//        width 100%
//        padding: 8px 8px 3px 15px;
//        margin: 0;
//        font: inherit;
//        outline:none; /* remove focus ring from Webkit */
//        line-height: 1.2;
//        background: transparent;
//        color: black;
//        border:0;
//}

.mobile-menu
    background-color white
    color black
    width 200px
    padding 20px
    position fixed
    left 0
    top 0
    min-height 100%
    overflow auto
    transition transform 0.3s
    transform translateX(-100%)
    &.active
        transform translateX(0)
    +above(880px)
        display none
    a, span
        font-weight 700
        text-transform uppercase
        text-decoration none
        display block
        margin 10px 0
        font-size 1.3rem
        &:first-child
            margin-top 0
    span
        color white


.btn
    position: relative
    background-color: #ffb400
    display: block
    width: 270px
    height: 40px
    text-decoration: none
    text-transform: uppercase
    color white
    font-weight: 500
    line-height: 40px
    margin: 0 auto
    text-align: center
    &:hover > div:before
        transform none
    &:hover:before
        border-color: transparent #1c56a0 transparent transparent;
    &:hover:after
        border-color: #1c56a0 transparent transparent transparent;
    > div
        height: 100%
        overflow: hidden
        position: relative
        span
            position: relative
            z-index: 1
        &:before
            content ''
            background-color: #1c56a0
            position: absolute
            width: 100%
            height: 100%
            left: 0
            top: 0
            transition all 0.3s
            transform translateY(100%)
    &:before
        content ''
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 13px 0;
        border-color: transparent #d78100 transparent transparent;
        position: absolute
        left -6px
        bottom 0
        transition all 0.3s
    &:after
        content ''
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 6px 0 0;
        border-color: #d78100 transparent transparent transparent;
        position: absolute
        right -6px
        bottom 0
        transition all 0.3s

.btn-secondary
    display: block
    background-color: #1c56a0
    height: 40px
    line-height: 40px
    text-transform: uppercase
    text-decoration: none
    text-align: center
    margin 4px 0
    color #ffb400
    position: relative
    z-index: 2
    width: 120px
    padding: 0
    font-size 0.857rem
    border none
    overflow: hidden
    span
        position: relative
        z-index: 1
    &:hover:before, &.active:before
        transform translateX(50%) skew(-10deg)
        opacity: 1
    &:before
        content ''
        width: 100%
        background: rgba(white, 0.4)
        height: 100%
        transform translateX(100%) skew(-10deg)
        transition all 0.3s
        position: absolute
        opacity: 0
        right: 0
        top: 0
.field
    height: 40px
    display: block
    width: 100%
    padding-left: 20px
    padding-right: 20px
    margin: 10px auto
    background-color: #fdfcfc
    border: 1px solid #ccc
    &::placeholder
        color #666
    &-required
        border-color #1c56a0
        &::placeholder
            color #1c56a0
    &-text
        resize none
        height: 100px
        padding-top: 10px
    &:focus
        border-color: gray
        outline none
    &-name
        background: url(../images/user.png) no-repeat right 14px center
    &-tel
        background: url(../images/phone.png) no-repeat right 16px center
    &-text
        background: url(../images/speech.png) no-repeat right 12px top 10px

.fadeInUp
    animation fadeInUp

.animated
    animation-fill-mode both

.icon-alarm-clock {
    width: 20px;
    height: 20px;
    fill: #f59706;
    stroke-width 2px;
}

.icon-buildings, .icon-house-plans, .icon-store, .icon-ski {
    fill: white
}
.icon-buildings {
    width: 40px;
    height: 40px;
}
.icon-chat {
    width: 32em;
    height: 32em;
}
.icon-cross {
    width: 10px;
    height: 10px;
    fill white
}
.icon-house-plans {
    width: 10.875em;
    height: 10.875em;
}
.icon-left-arrow {
    width: 35px;
    height: 35px;
    fill: #124f9d;
    transition: all 0.3s
}
.icon-placeholder {
    width: 24px;
    height: 28px;
    fill: #ffbe22;
}
.icon-right-arrow {
    width: 35px;
    height: 35px;
    fill: #124f9d;
    transition: all 0.3s
}
.icon-ski {
    width: 32em;
    height: 32em;
}
.icon-smartphone {
    width: 24px;
    height: 30px;
    fill: #ffb80f;

}
.icon-store {
    width: 3.75em;
    height: 3.75em;
    fill: white;
}
.icon-tag {
    width: 19px;
    height: 19px;
    fill: #1c56a0;
}
.icon-user {
    width: 32em;
    height: 32em;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
