// HELPERS

@import 'bootstrap/normalize'
@import 'bootstrap/mixins'
@import 'bootstrap/variables.styl'
@import 'bootstrap/grid.styl'
@import 'bootstrap/tooltip.styl'

// @import 'animate-stylus/fading_entrances/fadeIn'

// @import 'helpers/reset'
@import 'helpers/variables'
@import 'helpers/animate.styl'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/sprites'
@import 'helpers/slick'
@import 'helpers/fancybox'
@import 'base'

// LAYOUT

@import 'header'
@import 'footer'
@import 'content'
